body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rosybrown;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin: 2rem auto;
  padding: 5px 5px;
  width: 320px;
}

.main-form {
  margin: 0 auto;
  padding: 3px 3px;
  display: flex;
  flex-direction: column;
}

.main-form > * {
  margin: 5px 0;
}

button {
  background-color: blanchedalmond;
  border: solid 1px gray;
}

ul {
  list-style: none;
  padding: 0;
}

ul > * {
  margin: 8px 2px;
}

li > * {
  display: flex;
  justify-content: space-between;
}

.icon-span {
  margin: auto 0;
  /* width: 50px; */
  display: flex;
  justify-content: space-between;
}

.icon-span > * {
  border-radius: 3px;
  padding: 3px 5px;
  margin: 2px 4px;
  background-color: blanchedalmond;
  border: solid 1px gray;
  transition: all 0.2s linear;
}

.icon-span > *:hover {
  filter: brightness(0.8);
}